/*fonts*/
*{
	font-family: merriweather, serif;
	font-weight: 400;
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
		font-family: cardo, serif; 
}
.entry-content{
		font-size:1.6em;
}
.entry-title{font-size:3em !important;}
/*colors*/
:root {
  --blue: #1e90ff;
  --white: #ffffff;
}
/*Masthead*/
	/*ribbon*/
#masthead div{
		padding-top:0% !important;
		padding-bottom:0% !important;
}
.u-nav-ribbon{
		float: right;
		background: #48A942;
		padding-bottom: 1%;
		padding-left: 1%;
		padding-right: 1%;
		font-size:1.2em;
		line-height:2em;
}
.utility-nav {
    width: 100%;
    display: block;
    font-size: 13px !important;
    line-height: 13px !important;
}

.u-nav-ribbon a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
	margin-left: 1em;
}
.u-nav-ribbon a:link {
  color: white;
}

.u-nav-ribbon a:visited {
  color: white;
}

.u-nav-ribbon a:focus, a:hover {
  border-bottom: 1px solid #fff;
}

.u-nav-ribbon a:active {
  color: red;
}
	/*menu*/
#menu-row-top{padding: 0 6% 0 6% !important;}
#main-menu-top{font-size:1.6em;}
#main-menu-top a:focus, a:hover{
		border-bottom:3px solid #555;
		color:#000;
}

/*background row*/
.site-main{
		padding-top:0% !important;
}
#hero{
		margin-bottom: 0%;
}


/*News Ticker*/
.mtphr-dnt-tick-contents{
		color: white;
		padding-bottom: 1em;
		font-size: 1em;
}
.mtphr-dnt-wrapper{background: #58d68d;}
.mtphr-dnt-title{
		color: white !important;
		margin: 0em 0em 0em 6em !important;
}

/*News blog section*/
ul.pmeta {
    display: none !important;
}
.hours{
		font-size:2.3rem;
}
.op-row{
		font-size:2rem;
}


@media only screen and (max-width: 800px){
		#main-menu-top{
				display:none;
		}	
		.mtphr-dnt-title{
				margin: 1em 0 !important;
				width:100%;
		}
}